* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  width: 200px;
  height: 200px;
  margin: 150px auto;
  display: flex;
  flex-direction: row;
}

#hola {
  position: absolute;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 0;
  top: 45vh;
  left: 46vw;
  z-index: -1;
}

main:hover div#verde,
main:hover div#rojo {
  transform: rotate(90deg);
}
main:hover div#amarillo,
main:hover div#azul {
  transform: rotate(-90deg);
}

main:hover div {
  border-radius: 0% 10% 10% 40%;
}

main:hover #hola {
  color: green;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em yellow;
}

div:not(.linea) {
  width: 100px;
  height: 100px;
  transition-property: all;
  transition-duration: 1s;
}

#rojo {
  background-color: red;
  transform-origin: top left;
}

#azul {
  background-color: blue;
  transform-origin: bottom left;
}

#amarillo {
  background-color: yellow;
  transform-origin: top right;
}

#verde {
  background-color: green;
  transform-origin: bottom right;
}
